<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        .slide
        {
            width: calc( 100% / 2 );
        }
    </style>
</head>
<script src="/data/dom.js"></script>

<body>
    <Header/>
    <Slider id="slider" width="500px" height="200px">
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
    </Slider>
    <p>......</p>
    <Header/>
    <Slider id="slider123" width="500px" height="200px">
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
    </Slider>
    <p>......</p>
    <Header/>
    <Slider id="slid44er" width="500px" height="200px">
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
    </Slider>
    <p>......</p>
    <Slider id="slider2" width="120px" height="250px">
        <div style="background: blue;" class="slide">Ahoj</div>
        <div style="background: green;" class="slide">Ahoj</div>
        <div style="background: red;" class="slide">Ahoj</div>
        <div style="background: purple;" class="slide">Ahoj</div>
        <div style="background: silver;" class="slide">Ahoj</div>
    </Slider>
    <Content/>
    <Footer/>
</body>
</html>
